@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* লাইট থিমের কালার */
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #e60cd9;
    --primary-foreground: #fbf9fb;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #dc2626;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --chart-1: #f87171; /* রেড */
    --chart-2: #34d399; /* গ্রিন */
    --chart-3: #60a5fa; /* ব্লু */
    --chart-4: #fbbf24; /* ইয়েলো */
    --chart-5: #f97316; /* অরেঞ্জ */
    --radius: 0.5rem;
  }

  .dark {
    /* ডার্ক থিমের কালার  */
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #0a0a0a;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #3b82f6; /* ব্লু */
    --chart-2: #10b981; /* টিল */
    --chart-3: #f59e0b; /* অ্যাম্বার */
    --chart-4: #8b5cf6; /* ভায়োলেট */
    --chart-5: #ec4899; /* পিঙ্ক */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* রেঞ্জ স্লাইডার কাস্টমাইজেশন */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

input[type="range"] {
  pointer-events: none;
}
